body {
  background-color: pink;
}

i {
  pointer-events: none;
}

nav ul {
  display: none;
}

.rules-text {
  display: none;
}

.players-text {
  display: none;
}

.player-item {
  display: none;
}


//
// .intro {
//   display: none;
// }
//
// .players {
//   display: none;
// }
//

.shown {
  display: block;
}

.keep {
  filter: invert(1);
}

.final-pick {
  border: solid 3px black;
}

img {
  width: 50px;
}

button img {
  pointer-events: none;
}
